%h2 Search for movies "#{params[:movie][:search_terms]}"
= form_tag movies_add_tmdb_path, :method => :post do
  %table#movies
    %thead
      %tr
        %th Title
        %th Rating
        %th Release Date
        %th Add Movie
    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie[:title] 
          %td= movie[:rating]
          %td= movie[:release_date]
          %td=check_box_tag("tmbd_movies[#{movie[:tmdb_id]}]", 1 , false, :id => "checkbox_#{movie[:tmdb_id]}")
  = submit_tag 'Add Searched Movies'    
 