%h2 Search for movies 
= form_tag movies_search_tmdb_path, :method => :post do
  %table#movies
    %thead
      %tr
        %th Title
        %th Rating
        %th Release Date
        %th Add Movie
    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie[:title] 
          %td= movie[:rating]
          %td= movie[:release_date]
          %td=check_box_tag("Add to", 1 , false)
  = submit_tag 'Add Searched Movies'    
 